html body {
    background-color: greenyellow;
}

#gameContainer {

}

#image_data_container {
    margin-top: 3rem;
}

#charSprite {
    max-width: 10rem;

}

#characterInfo {
    text-align: right;
}



#gameWord {
    text-align: center;
    margin-top: 3rem;
}

#wrongLetters {
    text-align: center;
}

#guessesLeft{
    text-align: center;
}


