body {
    background: radial-gradient(rgb(184, 231, 200) 0%, rgb(0, 155, 39) 100%);
    background-size: 150% 150%;
    animation: gradientShift 8s alternate-reverse infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#gameContainer {
    margin-top: 3rem;

}

#image_data_container {
    margin-top: 3rem;
}

#charSprite {
    max-width: 10rem;
    border: 5px outset black;
    border-radius: 10px;
    

}

#characterInfo {
    text-align: right;
}



#gameWord {
    text-align: center;
    margin-top: 3rem;
}

#wrongLetters {
    text-align: center;
}

#guessesLeft{
    text-align: center;
}


